<nav id="sidebar" class="fill">
  <div class="custom-menu">
    <button type="button" id="sidebarCollapse" class="btn btn-primary">
      <i class="fa fa-bars"></i>
      <span class="sr-only">Toggle Menu</span>
    </button>
  </div>
  <div class="p-4">
    <h1>
      <a href="index.html" class="logo"
        >Portfolic <span>Portfolio Agency</span></a
      >
    </h1>
    <ul class="list-unstyled components mb-5">
      <li routerLinkActive="active">
        <a routerLink="/dashboard"
          ><span class="fa fa-home mr-3"></span> Home</a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/accountSummary"
          ><span class="fas fa-file-invoice-dollar mr-3"></span>Account</a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/branch"
          ><span class="fas fa-store mr-3"></span>Branch</a
        >
      </li>
      <!-- <li routerLinkActive="active">
        <a
          href="#workSubmenu"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          ><span class="fa fa-briefcase mr-3"></span>Works</a
        >
        <ul class="collapse list-unstyled" id="workSubmenu">
          <li>
            <a href="#">Works 1</a>
          </li>
          <li>
            <a href="#">Works 2</a>
          </li>
          <li>
            <a
              href="#subWorkSubmenu"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
              ><span class="fa fa-briefcase mr-3"></span>Sub Works</a
            >
            <ul class="collapse list-unstyled" id="subWorkSubmenu">
              <li>
                <a href="#">Sub Works 1</a>
              </li>
              <li>
                <a href="#">Sub Works 2</a>
              </li>
              <li>
                <a href="#">Sub Works 3</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><span class="fa fa-sticky-note mr-3"></span> Blog</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-suitcase mr-3"></span> Gallery</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-cogs mr-3"></span> Services</a>
      </li>
      <li>
        <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contacts</a>
      </li> -->
    </ul>
    <div class="footer"></div>
  </div>
</nav>
